@using MultiTableView.Models
@model EmpDetail
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <partial name="_Address" model="Model.addressDetail"/>
    <partial name="_Family" model="Model.familyDetail"/>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</body>
</html>
