@using MultiTableView.Models
@model EmpDetail
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>

</head>
<body>
   
    <table style="width:100%">
        <tr>
            <td style="width:50%; border-right:0.5px solid;background:azure">
                <partial name="_Address" model="Model.addressDetail" />

            </td>
            <td style="width:50%;background:cornsilk">
                <partial name="_Family" model="Model.familyDetail" />
            </td>
        </tr>
    </table>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</body>
</html>
